
                            <form id="contactForm" action="/edit/{{sno}}" method="post">
                                            <div class="form-floating">
                                                <input class="form-control" id="title" name="title" type="text" placeholder="Title" data-sb-validations="required" />
                                                <label for="title">Title</label>
                                            </div>
                                            <div class="form-floating">
                                                <input class="form-control" id="tline" name="tline" type="text" placeholder="Tagline" data-sb-validations="required,email" />
                                                <label for="tline">Tagline</label>
                                            </div>
                                            <div class="form-floating">
                                                <input class="form-control" id="slug" name="slug" type="text" placeholder="Slug" data-sb-validations="required" />
                                                <label for="phone">slug</label>
                                            </div>
                                            <div class="form-floating">
                                                <textarea class="form-control" id="content" name="content" placeholder="Content" style="height: 12rem" data-sb-validations="required"></textarea>
                                                <label for="content">Content</label>
                                            </div>
                                             <div class="form-floating">
                                                <input class="form-control" id="img_file" name="img_file" type="text" placeholder="Image" data-sb-validations="required" />
                                                <label for="img_file">Image</label>
                                            </div>
                                            <br />
                                            <!-- Submit success message-->
                                            <!---->
                                            <!-- This is what your users will see when the form-->
                                            <!-- has successfully submitted-->
                                            <div class="d-none" id="submitSuccessMessage">
                                                <div class="text-center mb-3">
                                                    <div class="fw-bolder">Form submission successful!</div>
                                                    To activate this form, sign up at
                                                    <br />
                                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                                </div>
                                            </div>
                                            <!-- Submit error message-->
                                            <!---->
                                            <!-- This is what your users will see when there is-->
                                            <!-- an error submitting the form-->
                                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                            <!-- Submit Button-->
                                            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                            </form>